<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peony.iview.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_ico_128"
        android:label="@string/app_name"
        android:theme="@style/Theme.Green" >
        <activity android:name="com.peony.iview.app.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.peony.iview.app.LandingActivity" />
        <activity
            android:name="com.peony.iview.app.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!-- <activity android:name="com.peony.iview.app.MainActivity" /> -->
        <activity
            android:name="com.peony.iview.module.ActionActivity"
            android:label="@string/title_activity_action" >
        </activity>
        <activity
            android:name="com.peony.iview.module.RouteActivity"
            android:label="@string/title_activity_route" >
        </activity>
        <activity
            android:name="com.peony.iview.module.MineActivity"
            android:label="@string/title_activity_mine" >
        </activity>
        <activity
            android:name="com.peony.iview.module.GroupActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <activity
            android:name="com.peony.iview.module.MoreActivity"
            android:label="@string/title_activity_more" >
        </activity>
    </application>

</manifest>
